/* static/styles.css */
body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    background-color: #f0f0f0;
    font-size: 20px;
    color: #333;
    padding: 0px;
    margin: 0px;
}
h1,h2
{
    font-variant: small-caps;

}


h1{
    font-size: 45px;
}

ul {
    list-style-type: none;
    /* Remove bullets */
    padding-left: 0;
}

a,
a:visited {
    color: rgb(27, 25, 21);
    text-decoration: none;
    /* Remove the underline if you wish */
}

.hider:hover{
    color:yellow;
}
.hider:active{
    transform: scale(1, 0.9);
    color:#2d3436;
    transition: transform 0.2s color 0.2s;
    }
    

a:hover {
    color: rgb(255, 166, 0);
}

table {
    width: 50%;
    margin-bottom: 20px;
    border-color: #333;
    border-style: 2px;
    justify-content: center;
    align-items: center;
}

.flex-container {
    display: flex;
}

.flex-container div {
    height: 60%;
    flex: 1 1 0%;
    padding-left: 1em;
    padding-top: 1em;

}

.flex-container .content {
    flex: 7 1 0%;
    height: 100%;
    border-left: 0.5em dashed;
}

div.header {
    padding-left: 1em;
    padding-bottom: 5px;
    border-bottom: 0.5em solid;
}


.flex-container .sidebar {
    height: 100%;
}

table tr {
    padding-left: 3px;
}

td {
    padding-left: 5px;

}

table tr:nth-child(odd) {
    background-color: #cbcbcb60;
}


/* Add more styles as needed */