{% load static %}

<!DOCTYPE html>
<header>
    <title>{{stad}} - Woonitor</title>
    <link rel="stylesheet" , type="text/css" , href="{% static 'woonitor/styles.css' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'woonitor/meekofavicon.png' %}">
    <!-- Using CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</header>

<body>
    <div class="header">
        <h1><a href=../index>Woonitor</a><h1>
        </div>
    <div class="flex-container">
        <div class="sidebar">
            <ul>
                <li><a href=../index>Totaaloverzicht</a></li>
                <li><a href=.>Overzicht {{stad}}</a></li>
            </ul>
        </div>
        <div class="content">
            <h2>Overzicht {{stad}}</h2>
            <table>
                <tr>
                    <td><b>Gemiddelde vraagprijs</b></td>
                    <td>{{gemiddeldePrijs}}</td>
                </tr>
                <tr>
                    <td><b>gemiddelde verkooptijd</b></td>
                    <td>{{gemiddeldeVerkooptijd}}</td>
                </tr>
                <tr>
                    <td><b>Gemiddelde vraagprijs {{vorigemaand}}</b></td>
                    <td>{{maandPrijs}}</td>
                </tr>
                <tr>
                    <td><b>gemiddelde verkooptijd {{vorigemaand}}</b></td>
                    <td>{{maandTijd}}</td>
                </tr>
            </table>
        </div>
    </div>
</body>