{% load static %}

<!DOCTYPE html>
<header>
    <title>{{stad}} - Woonitor</title>
    <link rel="stylesheet" , type="text/css" , href="{% static 'woonitor/styles.css' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'woonitor/meekofavicon.png' %}">
</header>

<body>
    <div class="header">
        <h1><a href=../index>Woonitor</a><h1>
        </div>
    <div class="flex-container">
        <div class="sidebar">
            <ul>
                <li><a href=/woonitor/index>Totaaloverzicht</a></li>
                <li><a href=/woonitor/{{stad}}/analyse>analyse</a></li>
            </ul>
        </div>
        <div class="content">
            <h2>Overzicht {{stad}}</h2>
            <table>
                <tr>
                    <td><b>Gemiddelde vraagprijs</b></td>
                    <td>{{gemiddeldePrijs}}</td>
                </tr>
                <tr>
                    <td><b>gemiddelde verkooptijd</b></td>
                    <td>{{gemiddeldeVerkooptijd}}</td>
                </tr>
                <tr>
                    <td><b>Gemiddelde vraagprijs {{vorigemaand}}</b></td>
                    <td>{{maandPrijs}}</td>
                </tr>
                <tr>
                    <td><b>gemiddelde verkooptijd {{vorigemaand}}</b></td>
                    <td>{{maandTijd}}</td>
                </tr>
            </table>

            <!--Creates a table containing listings -->
            <h2>{{aantal}} woningen in {{stad}}:</h2>
            {% if listings %}
            <ul>
                {% for listing in listings %}
                <li><a href="/woonitor/{{listing.stad}}/{{ listing.id }}">{{ listing.adres }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
            <p>Geen huizen gevonden.</p>
            {% endif %}
        </div>
    </div>
</body>